<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>The total number of users is: <%= userCount %></h2>
    <!-- <button>Join us today!</button> -->
    <form method="GET" action="/users">
      <button>View All Users</button>
    </form>
</body>
</html>